@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
* {
  margin: 0px;
  padding: 0px;
}
#navbar {
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: center;
  background: white;
  border-bottom: 3px solid black;
}

/* #logo {
  font-family: "Zen Dots", cursive;
}
#navbar select {
  padding: 5px 5px;
  position: absolute;
  right: 180px;
  font-size: small;
  outline: none;
  border: none;
}

#navbar h1 {
  color: black;
  margin-left: 100px;
  cursor: pointer;
  color: #094f65;
  text-shadow: 2px 2px -10px 10px black;
}

#navbar button {
  outline: none;
  font: large;
  border-radius: 5px;
  padding: 12px 9px;
  border: 2px solid white;
  color: white;
  background: #094f65;
  margin-left: 15px;
}
#navbar button:hover {
  border-radius: 5px;
  border: 2px solid #094f65;
  padding: 12px 9px;
  color: #094f65;
  background: white;
  margin-left: 15px;
}

.navbar_login:hover {
  color: grey;
}
.navbar_login {
  font-size: medium;
  font-weight: 520;
  color: 094f65;
}

.navbar_log {
  padding: 10px 5px;
  width: 200px;
  position: absolute;

  right: 20px;
  color: white;
}

#User_role {
  position: absolute;
  right: 40px;
  top: 40px;
}

.nav1_userrole {
  position: absolute;
  right: 20px;
}

#navbar2 {
  padding: 10px 80px;
  color: white;
}

.ul_nav2 {
  font-family: "Roboto Condensed", sans-serif;

  display: flex;
  justify-content: space-between;
}

.ul_nav1 {
  transform: translate(-20%);
  min-width: 130px;
}

.ul_nav2 {
  list-style: none;
  font-size: large;
}

.ul_nav2 li {
  list-style: none;
  cursor: pointer;
  font-size: large;
}

.ul_nav2 li:hover {
  color: #c9c9c9;
}

#ul_astrologers {
  max-width: 170px;
}

.nav2_ul_div {
  display: none;
  justify-content: space-between;
  background-color: white;
  width: 600px;
  padding: 20px;
  position: absolute;
  border-radius: 3px;
  transform: translateX(-40px);
  box-shadow: 10px 10px -5px 20px black;
}

.nav2_ul_div li {
  font-size: medium;
  padding: 3px;
  cursor: pointer;
  color: black;
}

.nav2_ul_div span {
  font-weight: bold;
  color: black;
  font-size: large;
  text-decoration: underline;
  margin: 10px 0px;
}

.nav2_ul_div li:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #585757;
}

.Admin_container {
  background-color: white;
}

.dropdown_nav2:hover .nav2_ul_div {
  display: flex;
}

.nav2_ul {
  transform: translate(-120px, 25px);
  max-width: 300px;
}

.dropdown_nav2:hover .nav2_ul {
  display: inline-block;
} */

#learn_astrology {
  transform: translate(-120px, 25px);
  max-width: 180px;
}
#content-page_true{
overflow: hidden;
margin-left: 80px;
padding: 105px 15px 0;
min-height: 100vh;
transition: all 0.3s ease-out 0s;
}
.container-fluid{margin-top: "50px"}